.headerContainer {
	background: linear-gradient(rgb(255, 225, 220), white);
}

.pageTitle {
	text-align: center;
    padding: 2vh;
    font-family: 'Bad Script', cursive;
    font-size: 50px;
    color: rgb(100, 75, 75);
}

.accountLink {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.dropdownButton {
    color: black;
    padding: 10px;
    font-size: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
	cursor: pointer;
}
  
.dropdownContainer {
	position: relative;
	display: inline-block;
}
  
.dropdownOptions {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 140px;
	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
	z-index: 1;
}

.dropdownOptions a {
	color: black;
	padding: 10px 10px;
	text-decoration: none;
	display: block;
	font-size: 12px;
}
  
.dropdownOptions a:hover {
	background-color: #ddd;
}
  
.dropdownContainer:hover .dropdownOptions {
	display: block;
}

.dropdownContainer:hover .dropdownOptions .myBooks {
	display: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* Mobile Accessibility */
@media only screen and (max-width: 600px) {

.dropdownContainer:hover .dropdownOptions .myBooks {
	display: block;
}

.pageTitle {
	padding-top: 5vh;
	font-size: 45px;
}

}

/* Tablet Accessibility */
@media only screen and (min-width: 600px) and (max-width: 820px)  {

.dropdownContainer:hover .dropdownOptions .myBooks {
	display: block;
}

.pageTitle {
	padding-top: 5vh;
}

}