.pageTitle {
    text-align: center;
    padding: 2vh;
    font-family: 'Bad Script', cursive;
    font-size: 50px;
}

.accountLink {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border: 10px solid antiquewhite;
}

.accountLink a {
    text-decoration: none;
    background-color: antiquewhite; 
    font-style: italic;
    cursor: pointer;
}