.headerContainer {
    background: linear-gradient(rgb(255, 225, 220), white);
}

.pageTitle {
    text-align: center;
    padding: 2vh;
    font-family: 'Bad Script', cursive;
    font-size: 50px;
    color: rgb(100, 75, 75);
}

.accountLink {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border: 10px solid antiquewhite;
}

.accountLink a {
    text-decoration: none;
    background-color: antiquewhite; 
    font-style: italic;
    cursor: pointer;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}