.stars {
    background-color: transparent;
    cursor: default;
}

.on {
    color: #000
}

.off {
    color: rgb(132, 132, 132);
}

.removeRating {
    color: gray;
    font-size: 12px;
    cursor: pointer;
}