.container {
    text-align: center;
}

.title {
    margin-top: 100px;
    font-size: 30px;
    color: rgba(165, 99, 99, 0.892);
    font-style: italic;
    font-weight: 500;
}

.img {
    max-height: 15vh;
    width: auto;
    margin: 40px;
}

.searchFields input, select {
    margin: 10px 5px;
    color: gray;
    width: 12vw;
}

.or {
    margin: 30px;
    font-size: 20px;
    color: rgba(165, 99, 99, 0.892);
}

.button {
    margin: 5px;
    font-size: 15px;
    font-family: 'Bad Script', cursive;
    background-color: antiquewhite; 
    border: 1px solid rgba(165, 99, 99, 0.892);
    cursor: pointer;
    padding: 5px 15px;
}

.wishlistMessage {
    color: gray;
    font-size: 12px;
}

/* Mobile Accessibility */
@media only screen and (max-width: 600px) {

.title {
    margin-top: 50px;
}

.button {
    color: black;
}

.searchFields input, select {
    width: 25vw;
}


}

/* Tablet Accessibility */
@media only screen and (min-width: 600px) and (max-width: 820px)  {

.searchFields {
    margin-top: 8vh;
}

.searchFields input, select {
    margin: 30px 5px;
    width: 20vw;
}


}