.title {
    margin-bottom: 15px;
    text-align: center;
}

.resultsContainer {
    border: 1px solid rgba(165, 99, 99, 0.892);
    background-color: antiquewhite; 
    padding: 5px;
    overflow: scroll;
    height: 70vh;
}

.resultContainer {
    margin: 10px 0px;
}

.pageButtons {
    margin-top: 1vh;
    text-align: center;
}