.title {
    margin-bottom: 15px;
    text-align: center;
}

.resultsContainer {
    border: 1px solid rgba(165, 99, 99, 0.892);
    background-color: rgb(245, 241, 236); 
    padding: 5px;
    overflow: scroll;
    height: 70vh;
}

.resultContainer {
    margin: 10px 0px;
}

.pageButtons {
    margin-top: 1vh;
    text-align: center;
}

.bookTitle {
    font-weight: 500;
    font-size: large;
}

.bookAuthor, .bookPublishedDate, .bookDetailDivider {
    font-size: smaller;
    display: inline-block;
    margin-right: 5px;
    color: rgb(87, 87, 87);
}

.bookDetailCategory {
    font-weight: 500;
}