.bookContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bookContentLeft, .bookContentRight {
    display: inline-block;
}

.bookContentLeft {
    width: 30%;
    text-align: center;
}

.bookContentRight {
    width: 70%;
}

img {
    margin: 10px;
}

.myRatingContainer p {
    font-size: 20px;
    margin: 50px 0px 0px 0px;
    padding: 0px;
}

.bookTitle {
    font-size: 25px;
}

.bookAuthor {
    margin: 5px 0px;
}

.bookDetails {
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: rgb(90, 88, 88);
    margin: 5px 0px;
}

.bookDescription {
    margin: 5px 0px;
    overflow: auto;
    height: 40vh;
}

.bookRatingUser {
    margin: 20px 0px;
    font-size: 25px;
}

.reviewsContainer {
    margin-top: 30px;
}

.reviewsHeader {
    text-align: center;
    color: rgb(100, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewsList {
    margin: 10px 5px;
}

/* Mobile Accessibility */
@media only screen and (max-width: 600px) {

.bookContentLeft {
    width: 40%;
}

.bookContentRight {
    width: 60%;
}

}

/* Tablet Accessibility */
@media only screen and (min-width: 600px) and (max-width: 820px)  {

}