.listOptions {
    display: flex;
    justify-content: flex-start;
}

.tabOne, .tabTwo, .tabThree {
    padding: 5px;
    border: 1px solid black;
}

.tabOne {
    background-color: red;
}

.tabTwo {
    background-color: lightpink;
}

.tabThree {
    background-color: lightcoral;
}

.resultsContainer {
    border: 1px solid black;
    background-color: peachpuff;
}

.resultContainer {
    margin: 5px;
    padding: 5px;
    background-color: gray;
}