.bodyContainerLayout {
  position: relative;
}

.bodyContentLayout {
  display: inline-block;
  background-color: red;
  width: 67.5%;
  padding: 1%;
  margin: 0.25%;
  overflow: scroll;
}

.userListsLayout {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 27.5%;
  padding: 0% 1% 1% 1%;
  margin: 0.25%;
  overflow: scroll;
}