* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(255, 225, 220);
}

.headerLayout {
  height: 18vh;
}

.bodyContainerLayout {
  position: relative;
}

.bodyContentLayout {
  display: inline-block;
  width: 67.5%;
  padding: 0% 1% 1% 1%;
  margin: 0.25%;
  height: 75vh;
}

.userListsLayout {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 32%;
  padding: 0% 1% 1% 1%;
  margin: 0.25%;
  height: 75vh;
}

/* Mobile Accessibility */
@media only screen and (max-width: 600px) {
    
.userListsLayout {
  display: none;
}

.bodyContentLayout {
  width: 100%;
}

}

/* Tablet Accessibility */
@media only screen and (min-width: 600px) and (max-width: 820px)  {

.userListsLayout {
  display: none;
}

.bodyContentLayout {
  width: 100%;
}

}